<h1>確認画面</h1>
<%= form_with(model: @connect, url: connects_path, local: true) do |form|%>
	<%= form.hidden_field :name %>
	<%= form.hidden_field :email %>
	<%= form.hidden_field :content %>

	<p>名前：<%= @connect.name %></p>
	<p>メール：<%= @connect.email %></p>
	<p>内容：<%= @connect.content %></p>

	<%= image_tag(@connect.imagetext.url) if @connect.imagetext && @connect.imagetext.url %>
	<%= form.hidden_field :imagetext_cache %>
	<%= form.submit "投稿する" %>
<% end %>

<%= form_with(model:@connect, url:new_connect_path, local:true, method:"get") do |form| %>
	<%= form.hidden_field :name %>
	<%= form.hidden_field :email %>
	<%= form.hidden_field :content %>
	
	<%= form.hidden_field :imagetext_cache %>
	<%= form.submit "戻る", name: "back" %>
<% end %>