<%= link_to 'New Connect', new_connect_path %>
<% @connects.each do |connect| %>
  <table class="conntents">
    <tbody class="content">
      <tr>
        <th><%= connect.user.name %></th>
        <td><%= connect.user.email %></td>
      </tr>
      <tr>
        <td colspan="3"><%= connect.content %></td>
      </tr>
      <tr>
        <% if connect[:imagetext] != nil %>
          <td colspan="3"><%= image_tag connect.imagetext.url %></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="3"><%= link_to 'Show', connect %>
        <% if connect.user.id == current_user.id %>
          <%= link_to 'Edit', edit_connect_path(connect) %>
          <%= link_to 'Destroy', connect, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

